body {
    background: url(../../assets/images/The-environmental-impacts-of-solar-and-wind-energy.jpg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background: rgb(230, 255, 230, .6);
}
